
*{
  font-family: "roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}

::-webkit-scrollbar-track {
  background: #132C2F;
}

::-webkit-scrollbar-thumb {
  background: #BFE5AB;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #FFF9B0 ;
}