
*{
  font-family: "roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}

::-webkit-scrollbar-track {
  background: #132C2F;
}

::-webkit-scrollbar-thumb {
  background: #BFE5AB;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #FFF9B0 ;
}

@font-face {
  font-family: 'Roboto';
  src: url('Roboto-Black.ttf') format('truetype'),
  url('Roboto-BlackItalic.ttf') format('truetype'),
  url('Roboto-Bold.ttf') format('truetype'),
  url('Roboto-BoldItalic.ttf') format('truetype'),
  url('Roboto-Italic.ttf') format('truetype'),
  url('Roboto-Light.ttf') format('truetype'),
  url('Roboto-LightItalic.ttf') format('truetype'),
  url('Roboto-Medium.ttf') format('truetype'),
  url('Roboto-MediumItalic.ttf') format('truetype'),
  url('Roboto-Regular.ttf') format('truetype'),
  url('Roboto-Thin.ttf') format('truetype'),

  /* Add any additional font formats as needed */
}